html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: absolute;
    bottom: 20px;

    /* 99% to avoid horizontal scroll bar */
    width: 99%;
}

.bar-container {}

.bar {
    background-color: black;
    margin: 0 1px;
    width: 60px;
}